<!--home.html-->
<!--Author: Adam Winter-->
<!--Date: 2023-1-25-->
<!--Descriptions:  Body of the index page of the site.  Has info on a company internship.-->

<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container-fluid">
    <div class="row">

        <div class="d-none d-sm-none d-md-block col-1">
<!--            <p>Left Margin</p>-->
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container">

<!--    -----------------------------------            MAIN     ---------------------------------------------------  -->

                <div class="row">

                    <div class="col-md-5 col-sm-12 text-center">
                        <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>

                    </div>

                    <div class="col-md-5 col-sm-9 text-center">
                        <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
                        <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
                        <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
                        <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
                        <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
                        <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
                        <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
                        <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>

                    </div>

                    <div class="col-md-2 col-sm-3 text-center">
                        <p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>

                    </div>

                </div><!-- end row -->

 <!--    -----------------------------------       END MAIN     ---------------------------------------------------  -->

            </div><!-- end inner container-->
        </div> <!-- between margins column-->

        <div class="d-none d-sm-none d-md-block col-1">
<!--            <p>Right Margin</p>-->
        </div>

    </div><!-- end row -->
</div><!-- end container -->


<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->
