<!--summary.html-->
<!--Author: Adam Winter-->
<!--Date: 2023-3-7-->
<!--Descriptions:  Displays errors.  -->

<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container-fluid">
    <div class="row">

        <div class="d-none d-sm-none d-md-block col-1">
            <!--            <p>Left Margin</p>-->
        </div>

        <div class="col-md-10 col-sm-12 table_div"> <!-- between margins column-->
            <br>
            <br>
            <br>
            <h1><span class="text-center">Oops, something went wrong...</span></h1>
            <br>
            <br>
            <repeat group="{{ @_SESSION['errors']}}" value="{{ @error }}">
                <p>{{ @error }}</p>
            </repeat>
        </div> <!-- between margins column-->

        <div class="d-none d-sm-none d-md-block col-1">
            <!--            <p>Right Margin</p>-->
        </div>

    </div><!-- end row -->
</div><!-- end container -->


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!--My scripts-->
<script src="JS/admin.js"></script>


<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->
