<!--home.html-->
<!--Author: Adam Winter-->
<!--Date: 2023-1-25-->
<!--Descriptions:  Body of the index page of the site.  Has info on a company internship.-->

<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container-fluid">
    <div class="row">

        <div class="d-none d-sm-none d-md-block col-1">
            <!--            <p>Left Margin</p>-->
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container">

                <!--    -----------------------------------            MAIN     ---------------------------------------------------  -->

                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <br>
                        <h1 class="text-center">Tech Jobs for You.</h1>
                        <h5>As soon as you learn the full stack.</h5>
                        <br>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <br>
                        <a role="button" class="btn btn-primary float-end"
                           href="start">
                            Apply Now
                        </a>
                        <br>
                    </div>

                </div><!-- end row -->

                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <br>
                        <h1>About the Internship</h1>
                        <hr>
                        <p>We like to think you're going to learn a lot. The reality is, you're going to learn just how hacked together everything is.</p>
                        <br>
                        <br>
                        <h1>More About Us</h1>
                        <hr>
                        <p>We do some cool stuff every once in a while.  The guy who built the website initially just bought an off-the-shelf website from some other company that charges a lot to make changes.  Also, the core of the framework they used is encrypted.  So, we spend a lot of trying to figure out what they did.</p>

                    </div>

                    <div class="col-md-6 d-none d-md-block">
                        <img class="img-fluid" src="images/techStack.png" alt="Picture of all the mascots of all the parts of a stack.">
                        <br>
                        <br>

                    </div>

                </div><!-- end row -->

                <div class="row">

                    <div class="col-md-6 col-sm-12 text-center">
                        <br>
                        <h1>Meet Our Team</h1>
                        <hr>
                        <p>
                            <i>"I'm a student just hoping to get enough money not to starve."</i>
                            -Seanathen
                        </p>
                        <br>
                        <a role="button" class="btn btn-primary m-auto"
                           href="start">
                            Apply Now
                        </a>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>

                    <div class="col-md-6 d-none d-md-block">
                        <br>
                        <br>
                    </div>

                </div><!-- end row -->

                <!--    -----------------------------------       END MAIN     ---------------------------------------------------  -->

            </div><!-- end inner container-->
        </div> <!-- between margins column-->

        <div class="d-none d-sm-none d-md-block col-1">
            <!--            <p>Right Margin</p>-->
        </div>

    </div><!-- end row -->
</div><!-- end container -->


<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->
