<!--home.html-->
<!--Author: Adam Winter-->
<!--Date: 2023-1-25-->
<!--Descriptions:  Body of the index page of the site.  Has info on a company internship.-->

<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container-fluid">
    <div class="row">

        <div class="d-sm-none d-md-block col-2">
            <!--
            <h1>Left Margin</h1>
            -->
        </div>

        <div class="col-8 col-sm-12" >
                <div class= "container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <br>
                            <h1 class="text-center">Tech Jobs for You.</h1>
                            <h4>As soon as you learn the full stack.</h4>
                            <br>
                        </div>

                        <div class="col-6">
                            <br>
                            <a role="button" class="btn btn-primary float-end"
                               href="start">
                                Apply Now
                            </a>
                            <br>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-6">
                            <br>
                            <h1>About the Internship</h1>
                            <hr>
                            <p>We like to think you're going to learn a lot. The reality is, you're going to learn just how everything is hacked together.</p>
                            <br>
                            <br>
                            <h1>More About Us</h1>
                            <hr>
                            <p>We do some cool stuff every once in a while.  The guy who built the website initially just bought and off-the-shelf website from some other company that charges a lot to make changes.  Also, the core of the framework they used is obfuscated.  So, we spend a lot of trying to figure out what they did.</p>
                        </div>

                        <div class="col-6">
                            <img class="img-fluid" src="images/techStack.png" alt="Picture of all the mascots of all the parts of a stack.">
                            <br>
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 text-center">
                            <br>
                            <h1>Meet Our Team</h1>
                            <p>
                                <i>"I'm a student just hoping to get enough money not to starve."</i>
                                -Seanathen
                            </p>
                            <a role="button" class="btn btn-primary m-auto"
                               href="start">
                                Apply Now
                            </a>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                        </div>

                        <div class="col-6">
                            <br>
                            <br>
                        </div>
                    </div>


                </div><!-- end inner container-->
        </div> <!-- between margins column-->

        <div class="d-sm-none d-md-block col-2">
            <!--
                <h1>Right Margin</h1>
            -->
        </div>

    </div><!-- end row -->
</div><!-- end container -->


<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->
