<!--mailingLists.html-->
<!--Author: Adam Winter-->
<!--Date: 2023-2-3-->
<!--Descriptions:  Asking the annoying question of whether people want to be added to the mailing lists.  -->

<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container-fluid">
    <div class="row">

        <div class="d-none d-sm-none d-md-block col-1">
            <!--            <p>Left Margin</p>-->
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container">

                <!--    -----------------------------------            MAIN     ---------------------------------------------------  -->

                <div class="row">

                    <div class="col-md-12 col-sm-12">
                        <br>
                        <h4>Software Development Internship</h4>
                        <p>Seattle Washington. Paid. 12 weeks</p>
                        <br>
                        <h1 class="text-start">Job Openings Mailing Lists</h1>
                        <hr>
                    </div>

                </div><!-- end row -->



                <!--    <form id = "order1" action="#" method="post">  ------  Using AJAX instead-->
                <form id="experience">
                    <div class="row">

                        <div class="col-md-10 col-sm-12">
                            <h5>Software Development Jobs:</h5>
<!--                            <input type="checkbox" class= "form-control" id="javascript" name="javascript"><label for="javascript">JavaScript</label>-->
<!--                            <input type="checkbox" class= "form-control" id="PHP" name="PHP"><label for="PHP">JavaScript</label>-->
                            <repeat group="{{ @jobs }}" value="{{ @job }}">
                                <label for="{{@job}}"><input type="checkbox" id="{{@job}}" name="jobsArray">  &nbsp;{{@job}}&nbsp;&nbsp;&nbsp;&nbsp;   </label>
                            </repeat>
                            <br>
                            <br>
                            <h5>Industry Verticals:</h5>
                            <repeat group="{{ @verticals }}" value="{{ @vertical }}">
                                <label for="{{ @vertical }}"><input type="checkbox" id="{{ @vertical }}" name="verticalsArray"> &nbsp; {{ @vertical }} &nbsp;&nbsp;&nbsp;&nbsp;    </label>
                            </repeat>
                        </div>

                        <div class="col-md-2 d-none d-md-block">
                            <br>
                        </div>

                    </div><!-- end row -->

                    <div class="row">

                        <div class="col-md-7 col-sm-12">
                            <br>
                        </div>

                        <div class="col-md-5 col-sm-12">
                            <br>
                            <br>
                            <br>
                            <div class="d-grid gap-2">
                                <button type="button" class="rounded nextButton btn-outline-primary" id="submitMailingLists">Next</button>
                            </div>
                            <br>
                            <span id="submitFeedback"></span>

                        </div>

                    </div><!-- end row -->
                </form>

                <!--    -----------------------------------       END MAIN     ---------------------------------------------------  -->

            </div><!-- end inner container-->
        </div> <!-- between margins column-->

        <div class="d-none d-sm-none d-md-block col-1">
            <!--            <p>Right Margin</p>-->
        </div>

    </div><!-- end row -->
</div><!-- end container -->

<!--My scripts-->
<script src="JS/mailingLists.js"></script>


<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->
