<!--personalInfo.html-->
<!--Author: Adam Winter-->
<!--Date: 2023-2-3-->
<!--Descriptions:  Body of the application start page.  -->

<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container-fluid">
    <div class="row">

        <div class="d-none d-sm-none d-md-block col-1">
            <!--            <p>Left Margin</p>-->
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="container">

                <!--    -----------------------------------            MAIN     ---------------------------------------------------  -->

                <div class="row">

                    <div class="col-md-12 col-sm-12">
                        <br>
                        <h4>Software Development Internship</h4>
                        <p>Seattle Washington. Paid. 12 weeks</p>
                        <h1 class="text-start">Personal Information.</h1>
                        <hr>
                    </div>

                </div><!-- end row -->



                <!--    <form id = "order1" action="#" method="post">  ------  Using AJAX instead-->
                <form id="personalInfo">
                <div class="row">

                    <div class="col-md-5 col-sm-12">
                        <label>First Name:               </label>
                        <input type="text" class= "form-control" id="fname" name="fname">
                        <label>Email:                    </label>
                        <input type="text" class= "form-control" id="email" name="email">
                        <label>State:                    </label>
                        <select class="form-select" name="state" id="state">
                            <option selected>Washington</option>
                            <repeat group="{{ @states }}" key="{{ @key }}" value="{{ @state }}">
                                <option value="{{ @key }}">{{ @state }}</option>
                            </repeat>
                            <!--  <option value="1">One</option>-->

                        </select>

                    </div>

                    <div class="col-md-5 col-sm-12">
                        <label>Last Name:               </label>
                        <input type="text" class= "form-control" id="lname" name="lname">
                        <label>Phone:              </label>
                        <input type="text" class= "form-control" id="phone" name="phone">
                        <br>
                        <br>
                        <br>
                        <span id="submitFeedback"></span>

                    </div>

                    <div class="col-md-2 col-sm-12">
                        <br>
                        <div class="noteBox rounded">
                            <p>Note: All information entered is protected by our privacy policy.  Profile information can only be viewed by others with your permission.</p>
                        </div>
                        <br>
                        <br>
                        <div class="d-grid gap-2">
                            <button type="button" class="rounded nextButton btn-outline-primary" onclick="personalInfoSubmit()">Next</button>
                        </div>
                        <br>
                        <br>
                    </div>

                </div><!-- end row -->
                </form>

                <!--    -----------------------------------       END MAIN     ---------------------------------------------------  -->

            </div><!-- end inner container-->
        </div> <!-- between margins column-->

        <div class="d-none d-sm-none d-md-block col-1">
            <!--            <p>Right Margin</p>-->
        </div>

    </div><!-- end row -->
</div><!-- end container -->

<!--My scripts-->
<script src="JS/personalInfo.js"></script>


<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->
